.NoWatchedProjects {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: -25px;
  width: 100%;
  & > svg {
    width: 250px;
    height: 163px;
    margin-top: 25px;
    transition: color 0.2s;
    @include themify(color, "primary");
  }
  & > span {
    font-weight: bold;
    font-size: 1.125rem;
    margin-top: 25px;
    width: max-content;
    transition: color 0.2s;
    @include themify(color, "color-fill-color-text-primary");
  }
  & > *:not(:last-child) {
    margin-bottom: 10px;
  }
}
