.CommentsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  & > *:not(:last-child) {
    margin-bottom: 16px;
  }
}

.CommentContent {
  display: flex;
  flex-direction: column;
  width: calc(100% - 42px);
}

.CommentHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.RemoveBtn {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-fill-color-accent-primary);
  line-height: 0;
  cursor: pointer;
  transition: color 0.2s;
}

.CommenterName {
  font-weight: 600;
}

.CommentBox {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  width: calc(100% - 22px);
  padding: 10px;
  font-size: 0.875rem;
}

.CommentBody {
  width: 100%;
  & > *:first-child {
    margin-block-start: 0;
  }
  & > *:last-child {
    margin-block-end: 10px;
  }
}

.CommentUnits {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  & > *:not(:last-child) {
    margin-bottom: 8px;
  }
}

.CommentUnit {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
  &.self {
    flex-direction: row-reverse;
    & .CommentBox {
      border: 1px solid;
      border-radius: 16px 16px 0 16px;
      border-color: var(--color-stroke-color-card-stroke-default);
      background-color: var(--color-background-fill-color-card-background-default) !important;
      color: var(--color-fill-color-accent-primary);
      transition: background-color 0.2s, color 0.2s;
    }
  }
  & .CommentBox {
    border-radius: 16px 16px 16px 0;
    background-color: var(--color-fill-color-accent-primary);
    color: var(--color-fill-color-text-on-accent-primary);
    transition: background-color 0.2s, color 0.2s;
  }
}

.NewComment {
  display: flex;
  flex-direction: row;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}

.CommentField {
  width: 100%;
  border: 1px solid;
  border-radius: 8px;
  border-color: var(--color-stroke-color-card-stroke-default);
  background-color: var(--color-background-fill-color-card-background-default);
  color: var(--color-fill-color-text-primary);
  transition: border 0.3s, height 0.3s, background-color 0.2s, color 0.2s;
}

.CommentInput {
  width: calc(100% - 16px);
  min-height: 16px;
  max-height: 100px;
  padding: 8px;
  overflow: auto;
  outline: none;
  font-size: 0.875rem;
  &.expanded {
    min-height: 50px;
  }
}

.CommentControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  & > div {
    display: flex;
    flex-direction: row;
    &:nth-child(2) {
      & > button {
        padding: 8px 12px;
        border: none;
        border-radius: 8px;
        outline: none;
        background-color: var(--color-fill-color-accent-primary);
        color: var(--color-fill-color-text-on-accent-primary);
        font-size: 0.875rem;
        cursor: pointer;
        transition: background-color 0.3s, color 0.2s;
        &:hover {
          background-color: var(--primaryHover);
        }
        &:disabled {
          background-color: var(--color-fill-color-subtle-secondary);
        }
      }
    }
    & > *:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.CommentTime {
  position: absolute;
  right: 10px;
  bottom: 5px;
  width: fit-content;
  font-weight: 600;
  font-size: 0.75rem;
}

.CommentDay {
  width: 100%;
  color: var(--color-fill-color-text-primary);
  font-weight: 600;
  font-size: 0.75rem;
  text-align: center;
  transition: color 0.2s;
}

.CommentNotAllowed {
  width: 100%;
  color: #c0c0c0;
  font-weight: 600;
  font-size: 0.75rem;
  text-align: center;
}
