.CommentsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  padding: 0 25px 25px 25px;
  & > *:not(:last-child) {
    margin-bottom: 16px;
  }
}

.CommentContent {
  display: flex;
  flex-direction: column;
  width: calc(100% - 42px);
}

.CommentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.RemoveBtn {
  outline: none;
  border: none;
  line-height: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.2s;
  @include themify(color, "primary");
}

.CommenterName {
  font-weight: 600;
}

.CommentBox {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 0.875rem;
  width: calc(100% - 20px);
  padding: 10px;
}

.CommentBody {
  width: 100%;
  & > *:first-child {
    margin-block-start: 0;
  }
  & > *:last-child {
    margin-block-end: 10px;
  }
}

.CommentUnits {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  & > *:not(:last-child) {
    margin-bottom: 8px;
  }
}

.CommentUnit {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
  &.self {
    flex-direction: row-reverse;
    & .CommentBox {
      border: 1px solid;
      border-radius: 16px 16px 0 16px;
      transition: background-color 0.2s, color 0.2s;
      @include themify(border-color, "color-stroke-color-card-stroke-default");
      @include themify(background-color, "color-background-fill-color-card-background-default", true);
      @include themify(color, "primary");
    }
  }
  & .CommentBox {
    border-radius: 16px 16px 16px 0;
    transition: background-color 0.2s, color 0.2s;
    @include themify(background-color, "primary");
    @include themify(color, "color-fill-color-text-primary");
  }
}

.NewComment {
  display: flex;
  flex-direction: row;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}

.CommentField {
  width: 100%;
  border: 1px solid;
  border-radius: 8px;
  transition: border 0.3s, height 0.3s, background-color 0.2s, color 0.2s;
  @include themify(border-color, "color-stroke-color-card-stroke-default");
  @include themify(background-color, "color-background-fill-color-card-background-default");
  @include themify(color, "color-fill-color-text-primary");
}

.CommentInput {
  min-height: 16px;
  max-height: 100px;
  outline: none;
  width: 100%;
  padding: 8px;
  font-size: 0.875rem;
  overflow: auto;
  &.expanded {
    min-height: 50px;
  }
}

.CommentControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  & > div {
    display: flex;
    flex-direction: row;
    &:nth-child(2) {
      & > button {
        padding: 8px 12px;
        font-size: 0.875rem;
        border-radius: 8px;
        cursor: pointer;
        border: none;
        outline: none;
        transition: background-color 0.3s, color 0.2s;
        @include themify(background-color, "primary");
        @include themify(color, "color-fill-color-text-on-accent-primary");
        &:hover {
          @include themify(background-color, "primaryHover");
        }
        &:disabled {
          @include themify(background-color, "color-fill-color-subtle-secondary");
        }
      }
    }
    & > *:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.CommentTime {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-weight: 600;
  font-size: 0.75rem;
  width: fit-content;
}

.CommentDay {
  font-weight: 600;
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
  transition: color 0.2s;
  @include themify(color, "color-fill-color-text-primary");
}

.CommentNotAllowed {
  font-weight: 600;
  font-size: 0.75rem;
  color: #c0c0c0;
  text-align: center;
  width: 100%;
}

.NoComments {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  & > svg {
    width: 250px;
    height: auto;
    transition: color 0.2s;
    @include themify(color, "primary");
  }
  & > span {
    font-weight: bold;
    font-size: 1.125rem;
    transition: color 0.2s;
    @include themify(color, "color-fill-color-text-primary");
  }
  & > *:not(:last-child) {
    margin-bottom: 40px;
  }
}
