.DetailsForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  & > h2 > span {
    cursor: pointer;
  }
  & > input[type="submit"] {
    display: none;
  }
  & > *:not(:last-child) {
    margin-bottom: 15px;
  }
}
