.TaskOptsShell {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
}

.TaskOptsContainer {
  position: fixed;
  display: flex;
  touch-action: none;
  flex-direction: column;
  bottom: 0;
  width: calc(100% - 40px);
  padding: 20px;
  border-radius: 20px 20px 0 0;
  transition: background-color 0.2s;
  @include themify(background-color, "auxiliarySurface");
  & > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

.TaskOptsHeader {
  width: 100%;
  text-align: center;
  font-weight: bold;
  transition: color 0.2s;
  @include themify(color, "color-fill-color-text-primary");
}

.Actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.Action {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s, color 0.2s;
  @include themify(color, "color-fill-color-text-primary");
  @include themify(border-color, "color-stroke-color-card-stroke-default");
  @include themify(background-color, "color-background-fill-color-card-background-default");
  & > *:not(:last-child) {
    margin-right: 5px;
  }
}

.CloseBtn {
  outline: none;
  border: none;
  width: 100%;
  font-weight: bold;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  @include themify(background-color, "primary");
  @include themify(color, "color-fill-color-text-on-accent-primary");
}
  