.ModalHeaderBody {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
  background-color: var(--color-background-fill-color-layer-alt);
}

.ModalHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  color: var(--color-fill-color-text-primary);
  font-weight: 600;
}

.ModalBody {
  flex: 1 1;
  min-height: 0;
  max-height: calc(100vh - 300px);
  overflow: auto;
  & :global(.simplebar-content-wrapper) {
    min-height: 100%;
    color: var(--color-fill-color-text-primary);
  }
}

.ModalFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}

.ModalButton {
  position: relative;
  flex: 1;
  padding: 10px 0;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  &.primary {
    background-color: var(--primary);
    color: var(--color-fill-color-text-on-accent-primary);
  }
  &.secondary {
    border: 1px solid;
    border-color: var(--color-stroke-color-card-stroke-default);
    background-color: var(--color-fill-color-control-default);
    color: var(--color-fill-color-text-primary);
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
