.BannerContainer {
  width: calc(100% + 40px);
  margin-top: -10px;
  margin-left: -40px;
  padding: 8px 20px;
  background-color: var(--color-fill-color-accent-primary);
  color: var(--color-fill-color-text-on-accent-primary);
  font-size: 0.875rem;
  text-align: center;
  cursor: pointer;
  @media only screen and (max-width: 768px) {
    width: calc(100% - 40px);
    margin-left: 0;
  }
}
