.ProjectHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 12px 59px 2px 59px;
  font-weight: 600;
  @media only screen and (max-width: 768px) {
    margin: 5px 26px 5px 26px;
  }
}