.TaskItemActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 0;
  background-color: transparent;
  &:hover {
    transition: opacity 0.2s;
  }
  & > *:not(:last-child) {
    margin-right: 2px;
  }
}

.TaskItemAction {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 100%;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  & > svg {
    @include themify(color, "primary");
  }
  &:hover {
    @include themify(background-color, "primary");
    & > svg {
      @include themify(color, "color-fill-color-text-on-accent-primary", true);
    }
  }
}

.TaskItemShell {
  display: flex;
  flex-direction: column;
  &.sorting {
    z-index: -1;
    & * {
      cursor: grab !important;
    }
  }
  &.dragging {
    z-index: 99;
    & * {
      cursor: grab !important;
    }
  }
}

.TaskItemCore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 2px 12px;
  margin: 2px 0;
  overflow: hidden;
  transition: transform 0.2s, background-color 0.2s, border-color 0.2s;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
  &.focused {
    @include themify(border-color, "primary", true);
    & .TaskItemActions {
      opacity: 1;
      width: auto;
    }
  }
  &.dragging {
    transform: scale(1.03);
    background-color: #eaefef;
  }
  &.sorting {
    opacity: 0.5;
  }
  &:not(.focused):not(.dragging):not(.sorting):hover {
    @include themify(border-color, "color-stroke-color-card-stroke-default");
    @include themify(background-color, "color-background-fill-color-card-background-secondary");
    & .TaskItemActions {
      opacity: 1;
      width: auto;
    }
  }
  @media only screen and (max-width: 768px) {
    margin: 0;
    padding: 2px 20px;
    border: none;
    border-radius: 0;
    background-color: transparent !important;
    & > *:not(:last-child) {
      margin-right: 2px;
    }
    &.focused {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}

.TaskItemLeftPart {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
  @media only screen and (max-width: 768px) {
    & > *:not(:last-child) {
      margin-right: 2px;
    }
  }
}

.TaskItemRightPart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  & > *:not(:last-child) {
    margin-right: 8px;
  }
  &.focused {
    width: 0;
  }
}

.TaskItemHeader {
  font-size: 1rem;
  width: 0px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: text;
  flex: 1;
  text-decoration: none;
  transition: color 0.2s;
  @include themify(color, "color-fill-color-text-primary");
  &.done {
    text-decoration: line-through;
  }
  &.placeholder {
    @include themify(color, "color-fill-color-text-secondary", true);
  }
}

.TaskItemInput {
  width: 100%;
  & > input {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    transition: color 0.2s;
    @include themify(color, "color-fill-color-text-primary");
    &::placeholder {
      @include themify(color, "color-fill-color-text-secondary", true);
    }
  }
}

.TaskItemDueDate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  font-weight: 600;
  font-size: 0.7rem;
  white-space: nowrap;
  border-radius: 10px;
  padding: 3px 10px;
  transition: background-color 0.2s, color 0.2s;
  @include themify(color, "color-fill-color-text-on-accent-primary");
  @include themify(background-color, "primary");
  @media only screen and (max-width: 768px) {
    width: 48px;
    font-size: 0.5rem;
  }
}

.TaskItemOptsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 100%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  & > svg {
    transition: fill 0.2s;
    @include themify(fill, "color-fill-color-text-primary");
  }
}

.TaskItemLeftLeftPart {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
  @media only screen and (max-width: 768px) {
    justify-content: flex-start;
  }
}

.TaskItemLeftRightPart {
  display: flex;
  flex-direction: row;
  align-items: center;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
  @media only screen and (max-width: 768px) {
    justify-content: flex-start;
  }
}

.TaskItemStatusToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1px solid;
  background-color: transparent;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  padding: 2.5px;
  cursor: pointer;
  transition: border-color 0.2s;
  @include themify(border-color, "color-stroke-color-control-strong-stroke-default");
  @include themify(background-color, "color-fill-color-control-alt-secondary");
  &.done {
    @include themify(color, "color-fill-color-text-on-accent-primary");
    @include themify(border-color, "primary");
    @include themify(background-color, "primary");
    & > svg * {
      stroke-width: 64px;
    }
  }
}
