.AssigneeSuggestion {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  transition: background-color 0.2s;
  cursor: pointer;
  &.selected {
    @include themify(background-color, "color-fill-color-subtle-secondary");
  }
  & > div {
    display: flex;
    flex-direction: column;
    & > span:nth-child(1) {
      font-weight: 600;
      font-size: 14px;
      transition: color 0.2s;
      @include themify(color, "color-fill-color-text-primary");
    }
    & > span:nth-child(2) {
      font-weight: 400;
      font-size: 12px;
      transition: color 0.2s;
      @include themify(color, "color-fill-color-text-primary");
    }
  }
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}

.NoKeyword {
  display: flex;
  width: 100%;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  transition: color 0.2s;
  @include themify(color, "color-fill-color-text-primary");
}
