.DropdownContainer {
  position: fixed!important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 999;
  border-radius: 10px;
  border: 1px solid;
  padding: 5px 0;
  width: 320px;
  max-height: 300px;
  transition: background-color 0.2s;
  box-shadow: rgb(0 0 0 / 14%) 0px 8px 16px 0px;
  @include themify(border-color, "color-stroke-color-card-stroke-default");
  @include themify(background-color, "auxiliarySurface");
  @media only screen and (max-width: 768px) {
    left: 0!important;
    max-height: 200px;
    width: 100vw;
    border-radius: 0px;
    border: none;
  }
}
