.TagsSuggestion {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.2s;
  &.active {
    background-color: var(--color-fill-color-subtle-secondary);
  }
  padding: 10px 20px;
  cursor: pointer;
  & > *:not(:last-child) {
    margin-right: 5px;
  }
}

.TagItem {
  display: inline-flex;
  padding: 5px 10px;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 0.875rem;
  width: fit-content;
  height: fit-content;
  flex-direction: row;
  align-items: center;
  transition: background-color 0.2s, color 0.2s;
  color: var(--primary);
  background-color: var(--color-fill-color-subtle-secondary);
}

.NoTags {
  display: flex;
  width: 100%;
  font-size: 0.875rem;
  align-items: center;
  justify-content: center;
  transition: color 0.2s;
  color: var(--color-fill-color-text-primary);
}
