.PanelTabsShell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.PanelTabsContainer {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border: 1px solid;
  height: fit-content;
  width: fit-content;
  border-radius: 24px;
  position: relative;
  @include themify(border-color, "onAuxiliarySurfaceElev1Border");
  @include themify(background-color, "onAuxiliarySurfaceElev1");
  & > *:not(:last-child) {
    margin-right: 5px;
  }
}

.PanelTab {
  border-radius: 24px;
  padding: 4px 15px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.2s;
  @include themify(color, "primary");
  &.selected {
    cursor: default;
    transition: background-color 0.2s, color 0.2s;
    @include themify(background-color, "primary");
    @include themify(color, "onPrimaryColor");
  }
}
