.AssigneeFieldShell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  & > label {
    margin-bottom: 0;
    width: max-content;
    font-size: 0.875rem;
    font-weight: 600;
    transition: color 0.2s;
    color: var(--color-fill-color-text-primary);
  }
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

.NewAssigneeBtn {
  position: relative;
  display: flex;
  padding: 10px 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  border: 1px solid;
  outline: none;
  height: 91.8px;
  min-width: 80px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 8px;
  transition: background-color 0.2s;
  border-color: var(--color-stroke-color-card-stroke-default);
  background-color: var(--color-background-fill-color-card-background-default);
  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 100%;
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    transition: background-color 0.2 ease ,color 0.2s;
    color: var(--color-fill-color-text-on-accent-primary);
    background-color: var(--primary);
  }
  & > span {
    font-weight: 600;
    font-size: 0.875rem;
    transition: color 0.2s;
    color: var(--primary);
  }
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

.NoAssignees {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid;
  border-radius: 8px;
  outline: none;
  height: fit-content;
  transition: background-color 0.2s;
  border-color: var(--color-stroke-color-card-stroke-default);
  background-color: var(--color-background-fill-color-card-background-default);
  & > span {
    font-weight: 600;
    font-size: 0.875rem;
    transition: color 0.2s;
    color: var(--color-fill-color-text-primary);
  }
  & > button {
    position: relative;
    outline: none;
    border: none;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 0.75rem;
    cursor: pointer;
    border-radius: 100000000000000px;
    transition: background-color 0.2s, color 0.2s;
    color: var(--color-fill-color-text-on-accent-primary);
    background-color: var(--primary);
  }
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

.AssigneeItem {
  position: relative;
  display: flex;
  padding: 10px;
  min-width: 80px;
  max-width: 80px;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  border-radius: 8px;
  transition: background-color 0.2s, color 0.2s;
  border-color: var(--color-stroke-color-card-stroke-default);
  background-color: var(--color-background-fill-color-card-background-default);
  color: var(--color-fill-color-text-primary);
  &:last-child {
    margin-right: 5px;
  }
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

.AssigneeDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 80px;
    line-height: 1.2;
  }
  & > span:nth-child(1) {
    font-size: 0.875rem;
    font-weight: 600;
  }
  & > span:nth-child(2) {
    font-size: 0.625rem;
    font-weight: 400;
  }
}

.RemoveBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  outline: none;
  border: none;
  line-height: 0;
  padding: 0;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  color: var(--color-fill-color-text-on-accent-primary);
  background-color: var(--primary);
}
