.AssigneeFieldShell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  & > label {
    width: max-content;
    margin-bottom: 0;
    color: var(--color-fill-color-text-primary);
    font-size: 0.875rem;
    transition: color 0.2s;
  }
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

.NewAssigneeBtn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  height: 91.8px;
  margin-left: 5px;
  padding: 10px 15px;
  border: 1px solid;
  border-radius: 8px;
  border-color: var(--color-stroke-color-card-stroke-default);
  outline: none;
  background-color: var(--color-background-fill-color-card-background-default);
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.2s;
  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;
    border-radius: 100%;
    background-color: var(--color-fill-color-accent-primary);
    color: var(--color-fill-color-text-on-accent-primary);
    line-height: 0;
    transition: background-color 0.2 ease ,color 0.2s;
  }
  & > span {
    color: var(--color-fill-color-accent-primary);
    font-size: 0.875rem;
    transition: color 0.2s;
  }
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

.NoAssignees {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 20px);
  height: fit-content;
  padding: 10px;
  border: 1px solid;
  border-radius: 8px;
  border-color: var(--color-stroke-color-card-stroke-default);
  outline: none;
  background-color: var(--color-background-fill-color-card-background-default);
  transition: background-color 0.2s;
  & > span {
    color: var(--color-fill-color-text-primary);
    font-size: 0.875rem;
    transition: color 0.2s;
  }
  & > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: var(--color-fill-color-accent-primary);
    color: var(--color-fill-color-text-on-accent-primary);
    font-size: 0.75rem;
    cursor: pointer;
    & > *:not(:last-child) {
      margin-right: 5px;
    }
  }
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

.AssigneeItem {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  min-width: 80px;
  max-width: 80px;
  padding: 10px;
  border: 1px solid;
  border-radius: 8px;
  border-color: var(--color-stroke-color-card-stroke-default);
  background-color: var(--color-background-fill-color-card-background-default);
  color: var(--color-fill-color-text-primary);
  transition: background-color 0.2s, color 0.2s;
  &:last-child {
    margin-right: 5px;
  }
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

.AssigneeDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > span {
    max-width: 80px;
    overflow: hidden;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  & > span:nth-child(1) {
    color: var(--color-fill-color-text-primary);
    font-size: 0.875rem;
  }
  & > span:nth-child(2) {
    color: var(--color-fill-color-text-secondary);
    font-size: 0.625rem;
  }
}

.RemoveBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0;
  border: none;
  border-radius: 100%;
  outline: none;
  background-color: var(--color-fill-color-accent-primary);
  color: var(--color-fill-color-text-on-accent-primary);
  line-height: 0;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
