.SelectShell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  & > label {
    margin-bottom: 0;
    width: max-content;
    font-size: 14px;
    font-weight: 600;
    transition: color 0.2s;
    @include themify(color, "txtColor");
  }
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

.Selection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  text-align: left;
  padding: 12px;
  border: 1px solid;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  transition: color 0.2s, border-color 0.2s;
  @include themify(border-color, "onAuxiliarySurfaceElev1Border");
  @include themify(background-color, "onAuxiliarySurfaceElev1");
  & > span:nth-child(1) {
    font-size: 24px;
    font-weight: 600;
    transition: color 0.2s;
    @include themify(color, "secondaryTxtColor");
  }
  & > span:nth-child(2) {
    font-size: 14px;
    font-weight: 400;
    color: #aaa8ac;
  }
  &.selected {
    @include themify(border-color, "primary", true);
    & > span:nth-child(1) {
      @include themify(color, "primary");
    }
    & > span:nth-child(2) {
      @include themify(color, "txtColor");
    }
  }
}

.SelectContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 1;
  transition: opacity 0.3s;
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
  &.disabled {
    opacity: 0.6;
  }
}
