.SelectShell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  & > label {
    margin-bottom: 0;
    width: max-content;
    font-size: 0.875rem;
    font-weight: 600;
    transition: color 0.2s;
    color: var(--color-fill-color-text-primary);
  }
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

.Selection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  text-align: left;
  opacity: 1;
  padding: 12px;
  border: 1px solid;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  text-align: inherit;
  transition: color 0.2s, border-color 0.2s, opacity 0.3s;
  border-color: var(--color-stroke-color-card-stroke-default);
  background-color: var(--color-background-fill-color-card-background-default);
  & > span:nth-child(1) {
    width: inherit;
    font-size: 1.5rem;
    font-weight: 600;
    transition: color 0.2s;
    color: var(--color-fill-color-text-secondary);
  }
  & > span:nth-child(2) {
    width: inherit;
    font-size: 0.875rem;
    font-weight: 400;
    color: #aaa8ac;
  }
  &.selected {
    cursor: default;
    border-color: var(--primary) !important;
    & > span:nth-child(1) {
      color: var(--primary);
    }
    & > span:nth-child(2) {
      color: var(--color-fill-color-text-primary);
    }
  }
  &.readOnly {
    cursor: default;
  }
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.SelectContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
  &.row {
    flex-direction: row;
    & > *:not(:last-child) {
      margin-bottom: 0;
      margin-right: 5px;
    }
  }
  &.centeredText {
    text-align: center;
  }
}
