.DropdownShell {
  width: 100%;
  height: 32.4px;
}

.DropdownContainer {
  width: calc(100% - 22px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
  @include themify(border-color, "onMainSurfaceElev1Border");
  @include themify(background-color, "onMainSurfaceElev1");
  &.opened {
    @include themify(border-color, "primary", true);
  }
  & > input {
    pointer-events: none;
    width: 100%;
    border: none;
    font-size: 12px;
    cursor: pointer;
    @include themify(color, "txtColor");
    @include themify(background-color, "onMainSurfaceElev1");
  }
}

.Options {
  position: relative;
  display: flex;
  top: 5px;
  flex-direction: column;
  border: 1px solid #c0c0c0;
  width: 100%;
  font-size: 12px;
  border-radius: 8px;
  z-index: 10;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  @include themify(background-color, "auxiliarySurface");
  & > span {
    padding: 8px;
    cursor: pointer;
    @include themify(color, "txtColor");
  }
  & > span:first-child {
    border-radius: 8px 8px 0 0;
  }
  & > span:last-child {
    border-radius: 0 0 8px 8px;
  }
  & > span:hover {
    @include themify(background-color, "hover");
  }
  & > span.selected {
    @include themify(color, "primary");
    @include themify(background-color, "primaryLight");
  }
}
