.DropdownShell {
  width: 100%;
  height: 32.4px;
}

.DropdownContainer {
  width: calc(100% - 22px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
  border-color: var(--color-stroke-color-card-stroke-default);
  background-color: var(--color-background-fill-color-card-background-default);
  &.opened {
    border-color: var(--primary) !important;
  }
  & > input {
    pointer-events: none;
    width: 100%;
    border: none;
    font-size: 0.75rem;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-fill-color-text-primary);
  }
}

.Options {
  position: fixed;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: max-content;
  font-size: 0.75rem;
  border-radius: 8px;
  z-index: 10;
  box-shadow: rgb(0 0 0 / 14%) 0px 8px 16px 0px;
  border-color: var(--color-stroke-color-card-stroke-default);
  background-color: var(--auxiliarySurface);
  & > span {
    padding: 8px;
    cursor: pointer;
    color: var(--color-fill-color-text-primary);
  }
  & > span:first-child {
    border-radius: 8px 8px 0 0;
  }
  & > span:last-child {
    border-radius: 0 0 8px 8px;
  }
  & > span:hover {
    background-color: var(--color-fill-color-subtle-secondary);
  }
  & > span.selected {
    color: var(--primary);
    background-color: var(--color-fill-color-subtle-secondary);
  }
}
