.SubmitBtn {
  padding: 14px 0;
  border-radius: 100000000000000px;
  font-size: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: var(--primary);
  color: var(--color-fill-color-text-on-accent-primary) !important;
  &:hover {
    background-color: var(--primaryHover);
  }
  &:disabled {
    background-color: #CCCCCC!important;
    color: #FFFFFF!important;
    cursor: not-allowed;
  }
}