.ToggleShell {
  width: 100%;
  & > span {
    color: #FF0000;
    font-size: 0.75rem;
    margin-left: 10px;
  }
  &.disabled {
    opacity: 0.6;
    & .ToggleHandle {
      cursor: not-allowed;
    }
  }
}
  
.ToggleContainer {
  position: relative;
  width: calc(100% - 22px);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 1px solid;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 400;
  border-color: var(--color-stroke-color-card-stroke-default);
  background-color: var(--color-background-fill-color-card-background-default);
  & > label {
    color: var(--color-fill-color-text-primary);
    margin-bottom: 0;
    width: max-content;
    font-size: 0.875rem;
    font-weight: 600;
  }
  &.error {
    border-color: #FF0000!important;
    & > label {
      color: #FF0000!important;
    }
  }
  &.readOnly {
    & .ToggleHandle {
      cursor: default;
    }
  }
}
.ToggleHandle {
  border-radius: 50px;
  width: 35px;
  padding: 3px 5px;
  border: 1px solid transparent;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  background-color: var(--color-fill-color-control-alt-secondary);
  border-color: var(--color-stroke-color-control-strong-stroke-default);
  &.selected {
    border-color: var(--primary);
    background-color: var(--primary);
    & > div {
      transform: translateX(calc(100% + 7.5px));
      background-color: var(--color-fill-color-text-on-accent-primary);
    }
  }
  & > div {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    transform: translateX(0);
    transition: transform 0.2s ease-in-out;
    background-color: var(--color-fill-color-text-secondary);
  }
}