.ToggleShell {
  width: calc(100% - 20px);
  & > span {
    color: #FF0000;
    font-size: 0.75rem;
  }
}
  
.ToggleContainer {
  position: relative;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 1px solid;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 400;
  @include themify(border-color, "color-stroke-color-card-stroke-default");
  @include themify(background-color, "color-background-fill-color-card-background-default");
  & > label {
    @include themify(color, "color-fill-color-text-primary");
    margin-bottom: 0;
    width: max-content;
    font-size: 0.875rem;
    font-weight: 600;
  }
  &.error {
    border-color: #FF0000!important;
  }
  &.disabled {
    background-color: #FFFFFF2E;
  }
}
.ToggleHandle {
  border-radius: 50px;
  width: 35px;
  padding: 3px 5px;
  border: 1px solid transparent;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  @include themify(background-color, "color-fill-color-control-alt-secondary");
  @include themify(border-color, "color-stroke-color-control-strong-stroke-default");
  &.selected {
    @include themify(border-color, "primary");
    @include themify(background-color, "primary");
    & > div {
      transform: translateX(calc(100% + 7.5px));
      @include themify(background-color, "color-fill-color-text-on-accent-primary");
    }
  }
  & > div {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    transform: translateX(0);
    transition: transform 0.2s ease-in-out;
    @include themify(background-color, "color-fill-color-text-secondary");
  }
}