* {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  font-family: 'Rubik', sans-serif !important;
}

html {
  background-image: url(../../public/3.png);
  background-size: cover;
  font-size: 16px;
}

.Calendar {
  --cl-color-primary: var(--primary) !important;
  --cl-color-primary-light: var(--color-fill-color-subtle-secondary) !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: var(--color-background-fill-color-mica-background);
}

button,
label,
.noselect {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

input::selection.noselect {
  color:transparent;
}

input:-webkit-autofill::first-line,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--auxiliarySurface) inset !important;
  box-shadow: 0 0 0 30px var(--auxiliarySurface) inset !important;
  color: var(--color-fill-color-text-primary) !important;
  caret-color: var(--color-fill-color-text-primary) !important;
  font-family: "Rubik", sans-serif !important;
}

input, textarea, select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -webkit-border-radius: 0;
  appearance: none !important;
  border-radius: 0;
}

.simplebar-track.simplebar-vertical {
  width: 8px !important;
}

.simplebar-track.simplebar-horizontal {
  height: 8px !important;
}

.simplebar-scrollbar:before {
  background-color: var(--color-fill-color-control-strong-default) !important;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1 !important;
}