@use "sass:map";
@use "sass:color";

@function construct-theme($primaryLight, $primaryDark) {
  @return (
    "light": (
      "primary": $primaryLight,
      "primaryDark": color.scale($primaryLight, $lightness: -10%),
      "primaryLight": color.scale($primaryLight, $lightness: 80%),
      "primaryLightSurface": color.scale($primaryLight, $lightness: 80%),
      "onPrimaryColor": #FFFFFF,
      "txtColor": #000000,
      "primaryBg": #F9F9F9,
      "secondaryBg": #F3F3F3,
      "fieldBg": #FFFFFF,
      "outline": #79747E,
      "hover": #F5F5F5
    ),
    "dark": (
      "primary": $primaryDark,
      "primaryDark": color.scale($primaryLight, $lightness: 20%),
      "primaryLight": color.scale($primaryLight, $lightness: 80%),
      "primaryLightSurface": #444746,
      "onPrimaryColor": #000000,
      "txtColor": #FFFFFF,
      "primaryBg": #1C1C1C,
      "secondaryBg": #272727,
      "fieldBg": #323232,
      "outline": #938F99,
      "hover": #444746
    )
  )
}

$themes: (
  "red": construct-theme(#D20E1E, #F46762),
  "gold": construct-theme(#E19D00, #FFD52A),
  "orange": construct-theme(#E05307, #FB9A44),
  "green": construct-theme(#0E6D0E, #45E532),
  "turquoise": construct-theme(#009FAA, #29F7FF),
  "blue": construct-theme(#0067C0, #4CC2FF),
  "pink": construct-theme(#CD007B, #FF4FCB),
  "purple": construct-theme(#4F4DCE, #B5ADEB),
  "grey": construct-theme(#586579, #ADBBC5),
  "black": construct-theme(#000000, #FFFFFF),
);

@function if-important($important){
  @return #{if($important, '!important', '')};
}

@mixin themify($property, $value, $important: false) {
  @each $themeName, $theme in $themes {
    html:global(.#{$themeName}) & {
      #{$property}: map.get($theme, "light", $value) if-important($important);
    }
    html:global(.#{$themeName}.dark) & {
      #{$property}: map.get($theme, "dark", $value) if-important($important);
    }
  }
}

@mixin themify-global($property, $value, $important: false) {
  @each $themeName, $theme in $themes {
    html.#{$themeName} & {
      #{$property}: map.get($theme, "light", $value) if-important($important);
    }
    html.#{$themeName}.dark & {
      #{$property}: map.get($theme, "dark", $value) if-important($important);
    }
  }
}