@use "sass:map";
@use "sass:color";

$constants: (
  "color-fill-color-text-primary": (
    rgba(0,0,0,0.896),
    rgba(255,255,255,1)
  ),
  "color-fill-color-text-secondary": (
    rgba(0,0,0,0.606),
    rgba(255,255,255,0.786)
  ),
  "color-fill-color-text-tertiary": (
    rgba(0,0,0,0.446),
    rgba(255,255,255,0.544)
  ),
  "color-fill-color-text-disabled": (
    rgba(0,0,0,0.361),
    rgba(255,255,255,0.363)
  ),
  "color-fill-color-accent-text-disabled": (
    rgba(0,0,0,0.361),
    rgba(255,255,255,0.363)
  ),
  "color-fill-color-text-on-accent-primary": (
    rgba(255,255,255,1),
    rgba(0,0,0,1)
  ),
  "color-fill-color-text-on-accent-secondary": (
    rgba(255,255,255,0.700),
    rgba(0,0,0,0.500)
  ),
  "color-fill-color-text-on-accent-disabled": (
    rgba(255,255,255,1),
    rgba(255,255,255,0.530)
  ),
  "color-fill-color-text-on-accent-selected-text": (
    rgba(255,255,255,1),
    rgba(255,255,255,1)
  ),
  "color-fill-color-control-transparent": (
    rgba(255,255,255,0.000),
    rgba(255,255,255,0.000)
  ),
  "color-fill-color-control-default": (
    rgba(255,255,255,0.700),
    rgba(255,255,255,0.060)
  ),
  "color-fill-color-control-secondary": (
    rgba(249,249,249,0.500),
    rgba(255,255,255,0.084)
  ),
  "color-fill-color-control-tertiary": (
    rgba(249,249,249,0.300),
    rgba(255,255,255,0.033)
  ),
  "color-fill-color-control-input-active": (
    rgba(255,255,255,1),
    rgba(30,30,30,0.700)
  ),
  "color-fill-color-control-disabled": (
    rgba(249,249,249,0.300),
    rgba(255,255,255,0.042)
  ),
  "color-fill-color-control-strong-default": (
    rgba(0,0,0,0.446),
    rgba(255,255,255,0.544)
  ),
  "color-fill-color-control-strong-disabled": (
    rgba(0,0,0,0.317),
    rgba(255,255,255,0.247)
  ),
  "color-fill-color-subtle-transparent": (
    rgba(255,255,255,0.000),
    rgba(255,255,255,0.000)
  ),
  "color-fill-color-subtle-secondary": (
    rgba(0,0,0,0.037),
    rgba(255,255,255,0.060)
  ),
  "color-fill-color-subtle-tertiary": (
    rgba(0,0,0,0.024),
    rgba(255,255,255,0.042)
  ),
  "color-fill-color-subtle-disabled": (
    rgba(0,0,0,0.000),
    rgba(255,255,255,0.000)
  ),
  "color-fill-color-control-solid-default": (
    rgba(255,255,255,1),
    rgba(69,69,69,1)
  ),
  "color-fill-color-control-alt-transparent": (
    rgba(255,255,255,0.000),
    rgba(255,255,255,0.000)
  ),
  "color-fill-color-control-alt-secondary": (
    rgba(0,0,0,0.024),
    rgba(0,0,0,0.100)
  ),
  "color-fill-color-control-alt-tertiary": (
    rgba(0,0,0,0.058),
    rgba(255,255,255,0.042)
  ),
  "color-fill-color-control-alt-quarternary": (
    rgba(0,0,0,0.092),
    rgba(255,255,255,0.070)
  ),
  "color-fill-color-control-alt-disabled": (
    rgba(255,255,255,0.000),
    rgba(255,255,255,0.000)
  ),
  "color-fill-color-accent-disabled": (
    rgba(0,0,0,0.217),
    rgba(255,255,255,0.158)
  ),
  "color-fill-color-system-critical": (
    rgba(196,43,28,1),
    rgba(255,153,164,1)
  ),
  "color-fill-color-system-success": (
    rgba(15,123,15,1),
    rgba(108,203,95,1)
  ),
  "color-fill-color-system-attention": (
    rgba(0,95,183,1),
    rgba(96,205,255,1)
  ),
  "color-fill-color-system-caution": (
    rgba(157,93,0,1),
    rgba(252,225,0,1)
  ),
  "color-fill-color-system-attention-background": (
    rgba(246,246,246,0.500),
    rgba(255,255,255,0.033)
  ),
  "color-fill-color-system-success-background": (
    rgba(223,246,221,1),
    rgba(57,61,27,1)
  ),
  "color-fill-color-system-caution-background": (
    rgba(255,244,206,1),
    rgba(67,53,25,1)
  ),
  "color-fill-color-system-critical-background": (
    rgba(253,231,233,1),
    rgba(68,39,38,1)
  ),
  "color-fill-color-system-neutral": (
    rgba(0,0,0,0.446),
    rgba(255,255,255,0.544)
  ),
  "color-fill-color-system-neutral-background": (
    rgba(0,0,0,0.024),
    rgba(255,255,255,0.033)
  ),
  "color-fill-color-system-solid-neutral": (
    rgba(138,138,138,1),
    rgba(157,157,157,1)
  ),
  "color-fill-color-system-solid-attention-background": (
    rgba(247,247,247,1),
    rgba(46,46,46,1)
  ),
  "color-fill-color-system-solid-neutral-background": (
    rgba(243,243,243,1),
    rgba(46,46,46,1)
  ),
  "color-fill-color-control-on-image-default": (
    rgba(255,255,255,0.790),
    rgba(28,28,28,0.700)
  ),
  "color-fill-color-control-on-image-secondary": (
    rgba(243,243,243,1),
    rgba(26,26,26,1)
  ),
  "color-fill-color-control-on-image-tertiary": (
    rgba(235,235,235,1),
    rgba(19,19,19,1)
  ),
  "color-fill-color-control-on-image-disabled": (
    rgba(255,255,255,0.000),
    rgba(30,30,30,0.000)
  ),
  "color-stroke-color-control-stroke-default": (
    rgba(0,0,0,0.058),
    rgba(255,255,255,0.070)
  ),
  "color-stroke-color-control-stroke-secondary": (
    rgba(0,0,0,0.162),
    rgba(255,255,255,0.093)
  ),
  "color-stroke-color-control-stroke-on-accent-default": (
    rgba(255,255,255,0.080),
    rgba(255,255,255,0.080)
  ),
  "color-stroke-color-control-stroke-on-accent-secondary": (
    rgba(0,0,0,0.400),
    rgba(0,0,0,0.140)
  ),
  "color-stroke-color-control-stroke-on-accent-tertiary": (
    rgba(0,0,0,0.217),
    rgba(0,0,0,0.217)
  ),
  "color-stroke-color-control-stroke-on-accent-disabled": (
    rgba(0,0,0,0.058),
    rgba(0,0,0,0.200)
  ),
  "color-stroke-color-control-stroke-for-strong-fill-when-on-image": (
    rgba(255,255,255,0.350),
    rgba(0,0,0,0.420)
  ),
  "color-stroke-color-control-strong-stroke-default": (
    rgba(0,0,0,0.446),
    rgba(255,255,255,0.544)
  ),
  "color-stroke-color-control-strong-stroke-disabled": (
    rgba(0,0,0,0.217),
    rgba(255,255,255,0.158)
  ),
  "color-stroke-color-card-stroke-default": (
    rgba(0,0,0,0.15),
    rgba(0,0,0,0.100)
  ),
  "color-stroke-color-card-stroke-default-solid": (
    rgba(235,235,235,1),
    rgba(28,28,28,1)
  ),
  "color-stroke-color-divider-stroke-default": (
    rgba(0,0,0,0.080),
    rgba(255,255,255,0.084)
  ),
  "color-stroke-color-surface-stroke-default": (
    rgba(117,117,117,0.400),
    rgba(117,117,117,0.400)
  ),
  "color-stroke-color-surface-stroke-flyout": (
    rgba(0,0,0,0.058),
    rgba(0,0,0,0.200)
  ),
  "color-stroke-color-focus-stroke-outer": (
    rgba(0,0,0,0.896),
    rgba(255,255,255,1)
  ),
  "color-stroke-color-focus-stroke-inner": (
    rgba(255,255,255,1),
    rgba(0,0,0,0.700)
  ),
  "color-background-fill-color-card-background-default": (
    rgba(255,255,255,0.700),
    rgba(255,255,255,0.051)
  ),
  "color-background-fill-color-card-background-secondary": (
    rgba(246,246,246,0.500),
    rgba(255,255,255,0.033)
  ),
  "color-background-fill-color-smoke-default": (
    rgba(0,0,0,0.300),
    rgba(0,0,0,0.300)
  ),
  "color-background-fill-color-layer-default": (
    rgba(255,255,255,0.500),
    rgba(58,58,58,0.300)
  ),
  "color-background-fill-color-layer-alt": (
    rgba(255,255,255,1),
    rgba(255,255,255,0.054)
  ),
  "color-background-fill-color-solid-background-base": (
    rgba(243,243,243,1),
    rgba(32,32,32,1)
  ),
  "color-background-fill-color-solid-background-secondary": (
    rgba(238,238,238,1),
    rgba(28,28,28,1)
  ),
  "color-background-fill-color-solid-background-tertiary": (
    rgba(249,249,249,1),
    rgba(40,40,40,1)
  ),
  "color-background-fill-color-solid-background-quarternary": (
    rgba(255,255,255,1),
    rgba(44,44,44,1)
  ),
  "effect-style-shadow-card-rest": (
    0.00px 2.00px 4.00px rgba(0,0,0,0.040),
    0.00px 2.00px 4.00px rgba(0,0,0,0.130)
  ),
  "effect-style-shadow-card-hover": (
    0.00px 2.00px 4.00px rgba(0,0,0,0.100),
    0.00px 2.00px 4.00px rgba(0,0,0,0.260)
  ),
  "effect-style-shadow-tooltip": (
    0.00px 4.00px 8.00px rgba(0,0,0,0.140),
    0.00px 4.00px 8.00px rgba(0,0,0,0.260)
  ),
  "effect-style-shadow-flyout": (
    0.00px 8.00px 16.00px rgba(0,0,0,0.140),
    0.00px 8.00px 16.00px rgba(0,0,0,0.260)
  ),
  "effect-style-shadow-dialog": (
    0.00px 2.00px 21.00px rgba(0,0,0,0.147),
    0.00px 2.00px 21.00px rgba(0,0,0,0.370)
  ),
  "effect-style-shell-shadows-inactive-window": (
    0.00px 2.00px 10.67px rgba(0,0,0,0.147),
    0.00px 2.00px 10.67px rgba(0,0,0,0.370)
  ),
  "effect-style-shell-shadows-active-window": (
    0.00px 2.00px 21.00px rgba(0,0,0,0.220),
    0.00px 2.00px 21.00px rgba(0,0,0,0.550)
  )
);

$themes: (
  "red": (
    "light": (
      "primary": #D20E1E,
      "primaryHover": #D72635,
      "auxiliarySurface": #F9F0F1,
      "outline": #938F99
    ),
    "dark": (
      "primary": #F46762,
      "primaryHover": #E1615D,
      "auxiliarySurface": #2E1A1B,
      "outline": #938F99
    )
  ),
  "gold": (
    "light": (
      "primary": #E19D00,
      "primaryHover": #E4A71A,
      "auxiliarySurface": #F9F3E3,
      "outline": #938F99
    ),
    "dark": (
      "primary": #FFD52A,
      "primaryHover": #EAC42A,
      "auxiliarySurface": #22201A,
      "outline": #938F99
    )
  ),
  "orange": (
    "light": (
      "primary": #E05307,
      "primaryHover": #E36420,
      "auxiliarySurface": #F9F1EC,
      "outline": #938F99
    ),
    "dark": (
      "primary": #FB9A44,
      "primaryHover": #E78F42,
      "auxiliarySurface": #261E1A,
      "outline": #938F99
    )
  ),
  "green": (
    "light": (
      "primary": #0E6D0E,
      "primaryHover": #267C26,
      "auxiliarySurface": #EAF9EA,
      "outline": #938F99
    ),
    "dark": (
      "primary": #45E532,
      "primaryHover": #43D332,
      "auxiliarySurface": #1A241A,
      "outline": #938F99
    )
  ),
  "turquoise": (
    "light": (
      "primary": #009FAA,
      "primaryHover": #1AA9B3,
      "auxiliarySurface": #E7F8F9,
      "outline": #938F99
    ),
    "dark": (
      "primary": #29F7FF,
      "primaryHover": #29E3EA,
      "auxiliarySurface": #1A2323,
      "outline": #938F99
    )
  ),
  "blue": (
    "light": (
      "primary": #0067C0,
      "primaryHover": #1A76C6,
      "auxiliarySurface": #EFF4F9,
      "outline": #938F99
    ),
    "dark": (
      "primary": #4CC2FF,
      "primaryHover": #49B3EB,
      "auxiliarySurface": #1A2229,
      "outline": #938F99
    )
  ),
  "pink": (
    "light": (
      "primary": #CD007B,
      "primaryHover": #D21A88,
      "auxiliarySurface": #F9EFF5,
      "outline": #938F99
    ),
    "dark": (
      "primary": #FF4FCB,
      "primaryHover": #EB4CBB,
      "auxiliarySurface": #2B1A24,
      "outline": #938F99
    )
  ),
  "purple": (
    "light": (
      "primary": #4F4DCE,
      "primaryHover": #615FD3,
      "auxiliarySurface": #F2F2F9,
      "outline": #938F99
    ),
    "dark": (
      "primary": #B5ADEB,
      "primaryHover": #A7A0D9,
      "auxiliarySurface": #1E1D33,
      "outline": #938F99
    )
  ),
  "grey": (
    "light": (
      "primary": #586579,
      "primaryHover": #697486,
      "auxiliarySurface": #F0F4F9,
      "outline": #938F99
    ),
    "dark": (
      "primary": #ADBBC5,
      "primaryHover": #A0ADB6,
      "auxiliarySurface": #1E2024,
      "outline": #938F99
    )
  ),
  "black": (
    "light": (
      "primary": #000000,
      "primaryHover": #D21A88,
      "auxiliarySurface": #F3F3F3,
      "outline": #938F99
    ),
    "dark": (
      "primary": #FFFFFF,
      "primaryHover": #FFFFFF,
      "auxiliarySurface": #202020,
      "outline": #938F99
    )
  ),
);

@function if-important($important){
  @return #{if($important, '!important', '')};
}

@mixin themify($property, $value, $important: false) {
  @if map-has-key($constants, $value) {
    html:global() & {
      #{$property}: nth(map.get($constants, $value), 1) if-important($important);
    }
    html:global(.dark) & {
      #{$property}: nth(map.get($constants, $value), 2) if-important($important);
    }
  } @else {
    @each $themeName, $theme in $themes {
      html:global(.#{$themeName}) & {
        #{$property}: map.get($theme, "light", $value) if-important($important);
      }
      html:global(.#{$themeName}.dark) & {
        #{$property}: map.get($theme, "dark", $value) if-important($important);
      }
    }
  }
}

@mixin themify-global($property, $value, $important: false) {
  @if map-has-key($constants, $value) {
    & {
      #{$property}: nth(map.get($constants, $value), 1) if-important($important);
    }
    html.dark & {
      #{$property}: nth(map.get($constants, $value), 2) if-important($important);
    }
  } @else {
    @each $themeName, $theme in $themes {
      html.#{$themeName} & {
        #{$property}: map.get($theme, "light", $value) if-important($important);
      }
      html.#{$themeName}.dark & {
        #{$property}: map.get($theme, "dark", $value) if-important($important);
      }
    }
  }
}