@use "sass:map";
@use "sass:color";

@function construct-theme($primaryLight, $primaryDark) {
  @return (
    "light": (
      "primary": $primaryLight,
      "primaryDark": color.scale($primaryLight, $lightness: -10%),
      "primaryLight": color.scale($primaryLight, $lightness: 80%),
      "primaryLightSurface": color.scale($primaryLight, $lightness: 80%),
      "onPrimaryColor": #FFFFFF,
      "txtColor": #000000,
      "mainSurface": #F9F9F9,
      "auxiliarySurface": #F3F3F3,
      "fieldBg": #FFFFFF,
      "outline": #79747E,
      "hover": #F5F5F5
    ),
    "dark": (
      "primary": $primaryDark,
      "primaryDark": color.scale($primaryLight, $lightness: 20%),
      "primaryLight": color.scale($primaryLight, $lightness: 80%),
      "primaryLightSurface": #444746,
      "onPrimaryColor": #000000,
      "txtColor": #FFFFFF,
      "mainSurface": #1C1C1C,
      "auxiliarySurface": #272727,
      "fieldBg": #323232,
      "outline": #938F99,
      "hover": #444746
    )
  )
}

$themes: (
  "red": (
    "light": (
      "primary": #D20E1E,
      "primaryHover": #D72635,
      "onPrimaryColor": #FFFFFF,
      "primaryDark": #FFFFFF,
      "primaryLight": #FFFFFF,
      "primaryLightSurface": #444746,
      "txtColor": #1B1B1B,
      "mainSurface": #FCF8F8,
      "onMainSurfaceElev1": #FEFDFD,
      "onMainSurfaceElev1Hover": #F5F4F4,
      "onMainSurfaceElev1HoverDark": #FFFFFF,
      "onMainSurfaceElev2": #FFFEFE,
      "onMainSurfaceElev2Hover": #FBFBFB,
      "auxiliarySurface": #F9F0F1,
      "onAuxiliarySurfaceElev0": #F0E8E8,
      "onAuxiliarySurfaceElev0HoverDark": #F3EAEB,
      "onAuxiliarySurfaceElev1": #FDFBFB,
      "onAuxiliarySurfaceElev1Hover": #F9F4F5,
      "onAuxiliarySurfaceElev2": #FEFEFE,
      "onAuxiliarySurfaceElev2Hover": #FBFAFA,
      "outline": #938F99
    ),
    "dark": (
      "primary": #F46762,
      "primaryHover": #E1615D,
      "onPrimaryColor": #000000,
      "primaryDark": #000000,
      "primaryLight": #000000,
      "primaryLightSurface": #444746,
      "txtColor": #FFFFFF,
      "mainSurface": #312324,
      "onMainSurfaceElev1": #3B2E2F,
      "onMainSurfaceElev1Hover": #473A3B,
      "onMainSurfaceElev1HoverDark": #372A2B,
      "onMainSurfaceElev2": #473A3B,
      "onMainSurfaceElev2Hover": #4B3F40,
      "auxiliarySurface": #2E1A1B,
      "onAuxiliarySurfaceElev0": #3A2728,
      "onAuxiliarySurfaceElev0HoverDark": #362324,
      "onAuxiliarySurfaceElev1": #392627,
      "onAuxiliarySurfaceElev1Hover": #3F2D2E,
      "onAuxiliarySurfaceElev2": #453334,
      "onAuxiliarySurfaceElev2Hover": #493839,
      "outline": #938F99
    )
  ),
  "gold": (
    "light": (
      "primary": #E19D00,
      "primaryHover": #E4A71A,
      "onPrimaryColor": #FFFFFF,
      "primaryDark": #FFFFFF,
      "primaryLight": #FFFFFF,
      "primaryLightSurface": #444746,
      "txtColor": #1B1B1B,
      "mainSurface": #FCF9F1,
      "onMainSurfaceElev1": #FEFDFB,
      "onMainSurfaceElev1Hover": #F5F4F2,
      "onMainSurfaceElev1HoverDark": #FFFFFF,
      "onMainSurfaceElev2": #FFFEFE,
      "onMainSurfaceElev2Hover": #FBFBFA,
      "auxiliarySurface": #F9F3E3,
      "onAuxiliarySurfaceElev0": #F0EADB,
      "onAuxiliarySurfaceElev0HoverDark": #F3EDDE,
      "onAuxiliarySurfaceElev1": #FDFBF7,
      "onAuxiliarySurfaceElev1Hover": #F9F6EE,
      "onAuxiliarySurfaceElev2": #FEFEFD,
      "onAuxiliarySurfaceElev2Hover": #FBFAF8,
      "outline": #938F99
    ),
    "dark": (
      "primary": #FFD52A,
      "primaryHover": #EAC42A,
      "onPrimaryColor": #000000,
      "primaryDark": #000000,
      "primaryLight": #000000,
      "primaryLightSurface": #444746,
      "txtColor": #FFFFFF,
      "mainSurface": #292723,
      "onMainSurfaceElev1": #34322E,
      "onMainSurfaceElev1Hover": #403E3A,
      "onMainSurfaceElev1HoverDark": #302E2A,
      "onMainSurfaceElev2": #403E3A,
      "onMainSurfaceElev2Hover": #45433F,
      "auxiliarySurface": #22201A,
      "onAuxiliarySurfaceElev0": #2F2D27,
      "onAuxiliarySurfaceElev0HoverDark": #2B2923,
      "onAuxiliarySurfaceElev1": #2D2B26,
      "onAuxiliarySurfaceElev1Hover": #34322D,
      "onAuxiliarySurfaceElev2": #393733,
      "onAuxiliarySurfaceElev2Hover": #3E3C38,
      "outline": #938F99
    )
  ),
  "orange": (
    "light": (
      "primary": #E05307,
      "primaryHover": #E36420,
      "onPrimaryColor": #FFFFFF,
      "primaryDark": #FFFFFF,
      "primaryLight": #FFFFFF,
      "primaryLightSurface": #444746,
      "txtColor": #1B1B1B,
      "mainSurface": #FCF8F6,
      "onMainSurfaceElev1": #FEFDFC,
      "onMainSurfaceElev1Hover": #F5F4F3,
      "onMainSurfaceElev1HoverDark": #FFFFFF,
      "onMainSurfaceElev2": #FFFEFE,
      "onMainSurfaceElev2Hover": #FBFBFA,
      "auxiliarySurface": #F9F1EC,
      "onAuxiliarySurfaceElev0": #F0E8E4,
      "onAuxiliarySurfaceElev0HoverDark": #F3EBE6,
      "onAuxiliarySurfaceElev1": #FDFBF9,
      "onAuxiliarySurfaceElev1Hover": #F9F5F2,
      "onAuxiliarySurfaceElev2": #FEFEFD,
      "onAuxiliarySurfaceElev2Hover": #FBFAF9,
      "outline": #938F99
    ),
    "dark": (
      "primary": #FB9A44,
      "primaryHover": #E78F42,
      "onPrimaryColor": #000000,
      "primaryDark": #000000,
      "primaryLight": #000000,
      "primaryLightSurface": #444746,
      "txtColor": #FFFFFF,
      "mainSurface": #2C2623,
      "onMainSurfaceElev1": #37312E,
      "onMainSurfaceElev1Hover": #433D3A,
      "onMainSurfaceElev1HoverDark": #332D2A,
      "onMainSurfaceElev2": #433D3A,
      "onMainSurfaceElev2Hover": #47423F,
      "auxiliarySurface": #261E1A,
      "onAuxiliarySurfaceElev0": #332B27,
      "onAuxiliarySurfaceElev0HoverDark": #2F2723,
      "onAuxiliarySurfaceElev1": #312926,
      "onAuxiliarySurfaceElev1Hover": #38312D,
      "onAuxiliarySurfaceElev2": #3D3633,
      "onAuxiliarySurfaceElev2Hover": #423B38,
      "outline": #938F99
    )
  ),
  "green": (
    "light": (
      "primary": #0E6D0E,
      "primaryHover": #267C26,
      "onPrimaryColor": #FFFFFF,
      "primaryDark": #FFFFFF,
      "primaryLight": #FFFFFF,
      "primaryLightSurface": #444746,
      "txtColor": #1B1B1B,
      "mainSurface": #F5FCF5,
      "onMainSurfaceElev1": #FCFEFC,
      "onMainSurfaceElev1Hover": #F3F5F3,
      "onMainSurfaceElev1HoverDark": #FFFFFF,
      "onMainSurfaceElev2": #FEFFFE,
      "onMainSurfaceElev2Hover": #FAFBFA,
      "auxiliarySurface": #EAF9EA,
      "onAuxiliarySurfaceElev0": #E2F0E2,
      "onAuxiliarySurfaceElev0HoverDark": #E5F3E5,
      "onAuxiliarySurfaceElev1": #F9FDF9,
      "onAuxiliarySurfaceElev1Hover": #F2F9F2,
      "onAuxiliarySurfaceElev2": #FDFEFD,
      "onAuxiliarySurfaceElev2Hover": #F9FBF9,
      "outline": #938F99
    ),
    "dark": (
      "primary": #45E532,
      "primaryHover": #43D332,
      "onPrimaryColor": #000000,
      "primaryDark": #000000,
      "primaryLight": #000000,
      "primaryLightSurface": #444746,
      "txtColor": #FFFFFF,
      "mainSurface": #232A23,
      "onMainSurfaceElev1": #2E352E,
      "onMainSurfaceElev1Hover": #3A413A,
      "onMainSurfaceElev1HoverDark": #2A312A,
      "onMainSurfaceElev2": #3A413A,
      "onMainSurfaceElev2Hover": #3F463F,
      "auxiliarySurface": #1A241A,
      "onAuxiliarySurfaceElev0": #273127,
      "onAuxiliarySurfaceElev0HoverDark": #232D23,
      "onAuxiliarySurfaceElev1": #262F26,
      "onAuxiliarySurfaceElev1Hover": #2D362D,
      "onAuxiliarySurfaceElev2": #333B33,
      "onAuxiliarySurfaceElev2Hover": #384038,
      "outline": #938F99
    )
  ),
  "turquoise": (
    "light": (
      "primary": #009FAA,
      "primaryHover": #1AA9B3,
      "onPrimaryColor": #FFFFFF,
      "primaryDark": #FFFFFF,
      "primaryLight": #FFFFFF,
      "primaryLightSurface": #444746,
      "txtColor": #1B1B1B,
      "mainSurface": #F3FCFC,
      "onMainSurfaceElev1": #FBFEFE,
      "onMainSurfaceElev1Hover": #F2F5F5,
      "onMainSurfaceElev1HoverDark": #FFFFFF,
      "onMainSurfaceElev2": #FEFFFF,
      "onMainSurfaceElev2Hover": #FAFBFB,
      "auxiliarySurface": #E7F8F9,
      "onAuxiliarySurfaceElev0": #DFEFF0,
      "onAuxiliarySurfaceElev0HoverDark": #E2F2F3,
      "onAuxiliarySurfaceElev1": #F8FDFD,
      "onAuxiliarySurfaceElev1Hover": #F0F8F9,
      "onAuxiliarySurfaceElev2": #FDFEFE,
      "onAuxiliarySurfaceElev2Hover": #F8FBFB,
      "outline": #938F99
    ),
    "dark": (
      "primary": #29F7FF,
      "primaryHover": #29E3EA,
      "onPrimaryColor": #000000,
      "primaryDark": #000000,
      "primaryLight": #000000,
      "primaryLightSurface": #444746,
      "txtColor": #FFFFFF,
      "mainSurface": #232A2A,
      "onMainSurfaceElev1": #2E3535,
      "onMainSurfaceElev1Hover": #3A4141,
      "onMainSurfaceElev1HoverDark": #2A3131,
      "onMainSurfaceElev2": #3A4141,
      "onMainSurfaceElev2Hover": #3F4646,
      "auxiliarySurface": #1A2323,
      "onAuxiliarySurfaceElev0": #273030,
      "onAuxiliarySurfaceElev0HoverDark": #232C2C,
      "onAuxiliarySurfaceElev1": #262E2E,
      "onAuxiliarySurfaceElev1Hover": #2D3535,
      "onAuxiliarySurfaceElev2": #333A3A,
      "onAuxiliarySurfaceElev2Hover": #383F3F,
      "outline": #938F99
    )
  ),
  "blue": (
    "light": (
      "primary": #0067C0,
      "primaryHover": #1A76C6,
      "onPrimaryColor": #FFFFFF,
      "primaryDark": #FFFFFF,
      "primaryLight": #FFFFFF,
      "primaryLightSurface": #444746,
      "txtColor": #1B1B1B,
      "mainSurface": #F7FAFC,
      "onMainSurfaceElev1": #FDFDFE,
      "onMainSurfaceElev1Hover": #F4F4F5,
      "onMainSurfaceElev1HoverDark": #FFFFFF,
      "onMainSurfaceElev2": #FEFEFF,
      "onMainSurfaceElev2Hover": #FBFBFB,
      "auxiliarySurface": #EFF4F9,
      "onAuxiliarySurfaceElev0": #E6EBF0,
      "onAuxiliarySurfaceElev0HoverDark": #E8EEF3,
      "onAuxiliarySurfaceElev1": #FBFBFD,
      "onAuxiliarySurfaceElev1Hover": #F4F6F9,
      "onAuxiliarySurfaceElev2": #FEFEFE,
      "onAuxiliarySurfaceElev2Hover": #F9FAFB,
      "outline": #938F99
    ),
    "dark": (
      "primary": #4CC2FF,
      "primaryHover": #49B3EB,
      "onPrimaryColor": #000000,
      "primaryDark": #000000,
      "primaryLight": #000000,
      "primaryLightSurface": #444746,
      "txtColor": #FFFFFF,
      "mainSurface": #23292E,
      "onMainSurfaceElev1": #2E3439,
      "onMainSurfaceElev1Hover": #3A4045,
      "onMainSurfaceElev1HoverDark": #2A3035,
      "onMainSurfaceElev2": #3A4045,
      "onMainSurfaceElev2Hover": #3F4549,
      "auxiliarySurface": #1A2229,
      "onAuxiliarySurfaceElev0": #272F36,
      "onAuxiliarySurfaceElev0HoverDark": #232B31,
      "onAuxiliarySurfaceElev1": #262D34,
      "onAuxiliarySurfaceElev1Hover": #2D343B,
      "onAuxiliarySurfaceElev2": #333940,
      "onAuxiliarySurfaceElev2Hover": #383E45,
      "outline": #938F99
    )
  ),
  "pink": (
    "light": (
      "primary": #CD007B,
      "primaryHover": #D21A88,
      "onPrimaryColor": #FFFFFF,
      "primaryDark": #FFFFFF,
      "primaryLight": #FFFFFF,
      "primaryLightSurface": #444746,
      "txtColor": #1B1B1B,
      "mainSurface": #FCF7FA,
      "onMainSurfaceElev1": #FEFDFE,
      "onMainSurfaceElev1Hover": #F5F4F5,
      "onMainSurfaceElev1HoverDark": #FFFFFF,
      "onMainSurfaceElev2": #FFFEFF,
      "onMainSurfaceElev2Hover": #FBFBFB,
      "auxiliarySurface": #F9EFF5,
      "onAuxiliarySurfaceElev0": #F0E7EC,
      "onAuxiliarySurfaceElev0HoverDark": #F3E9EF,
      "onAuxiliarySurfaceElev1": #FDFAFC,
      "onAuxiliarySurfaceElev1Hover": #F9F4F7,
      "onAuxiliarySurfaceElev2": #FEFEFE,
      "onAuxiliarySurfaceElev2Hover": #FBF9FA,
      "outline": #938F99
    ),
    "dark": (
      "primary": #FF4FCB,
      "primaryHover": #EB4CBB,
      "onPrimaryColor": #000000,
      "primaryDark": #000000,
      "primaryLight": #000000,
      "primaryLightSurface": #444746,
      "txtColor": #FFFFFF,
      "mainSurface": #2F232A,
      "onMainSurfaceElev1": #3A2E35,
      "onMainSurfaceElev1Hover": #463A41,
      "onMainSurfaceElev1HoverDark": #362A31,
      "onMainSurfaceElev2": #463A41,
      "onMainSurfaceElev2Hover": #4A3F46,
      "auxiliarySurface": #2B1A24,
      "onAuxiliarySurfaceElev0": #372731,
      "onAuxiliarySurfaceElev0HoverDark": #33232D,
      "onAuxiliarySurfaceElev1": #372731,
      "onAuxiliarySurfaceElev1Hover": #36262F,
      "onAuxiliarySurfaceElev2": #42333B,
      "onAuxiliarySurfaceElev2Hover": #473840,
      "outline": #938F99
    )
  ),
  "purple": (
    "light": (
      "primary": #4F4DCE,
      "primaryHover": #615FD3,
      "onPrimaryColor": #FFFFFF,
      "primaryDark": #FFFFFF,
      "primaryLight": #FFFFFF,
      "primaryLightSurface": #444746,
      "txtColor": #1B1B1B,
      "mainSurface": #F9F9FC,
      "onMainSurfaceElev1": #FDFDFE,
      "onMainSurfaceElev1Hover": #F4F4F5,
      "onMainSurfaceElev1HoverDark": #FFFFFF,
      "onMainSurfaceElev2": #FEFEFF,
      "onMainSurfaceElev2Hover": #FBFBFB,
      "auxiliarySurface": #F2F2F9,
      "onAuxiliarySurfaceElev0": #E9E9F0,
      "onAuxiliarySurfaceElev0HoverDark": #ECECF3,
      "onAuxiliarySurfaceElev1": #FBFBFD,
      "onAuxiliarySurfaceElev1Hover": #F5F5F9,
      "onAuxiliarySurfaceElev2": #FEFEFE,
      "onAuxiliarySurfaceElev2Hover": #FAFAFB,
      "outline": #938F99
    ),
    "dark": (
      "primary": #B5ADEB,
      "primaryHover": #A7A0D9,
      "onPrimaryColor": #000000,
      "primaryDark": #000000,
      "primaryLight": #000000,
      "primaryLightSurface": #444746,
      "txtColor": #FFFFFF,
      "mainSurface": #262535,
      "onMainSurfaceElev1": #31303F,
      "onMainSurfaceElev1Hover": #3D3C4A,
      "onMainSurfaceElev1HoverDark": #2D2C3B,
      "onMainSurfaceElev2": #3D3C4A,
      "onMainSurfaceElev2Hover": #42414F,
      "auxiliarySurface": #1E1D33,
      "onAuxiliarySurfaceElev0": #2B2A3F,
      "onAuxiliarySurfaceElev0HoverDark": #27263B,
      "onAuxiliarySurfaceElev1": #29293D,
      "onAuxiliarySurfaceElev1Hover": #313044,
      "onAuxiliarySurfaceElev2": #363648,
      "onAuxiliarySurfaceElev2Hover": #3B3B4D,
      "outline": #938F99
    )
  ),
  "grey": (
    "light": (
      "primary": #586579,
      "primaryHover": #697486,
      "onPrimaryColor": #FFFFFF,
      "primaryDark": #FFFFFF,
      "primaryLight": #FFFFFF,
      "primaryLightSurface": #444746,
      "txtColor": #1B1B1B,
      "mainSurface": #F8FAFC,
      "onMainSurfaceElev1": #FDFEFE,
      "onMainSurfaceElev1Hover": #F4F5F5,
      "onMainSurfaceElev1HoverDark": #FFFFFF,
      "onMainSurfaceElev2": #FEFFFF,
      "onMainSurfaceElev2Hover": #FBFBFB,
      "auxiliarySurface": #F0F4F9,
      "onAuxiliarySurfaceElev0": #E8EBF0,
      "onAuxiliarySurfaceElev0HoverDark": #EAEEF3,
      "onAuxiliarySurfaceElev1": #FBFCFD,
      "onAuxiliarySurfaceElev1Hover": #F4F6F9,
      "onAuxiliarySurfaceElev2": #FEFEFE,
      "onAuxiliarySurfaceElev2Hover": #FAFAFB,
      "outline": #938F99
    ),
    "dark": (
      "primary": #ADBBC5,
      "primaryHover": #A0ADB6,
      "onPrimaryColor": #000000,
      "primaryDark": #000000,
      "primaryLight": #000000,
      "primaryLightSurface": #444746,
      "txtColor": #FFFFFF,
      "mainSurface": #26272A,
      "onMainSurfaceElev1": #313235,
      "onMainSurfaceElev1Hover": #3D3E41,
      "onMainSurfaceElev1HoverDark": #2D2E31,
      "onMainSurfaceElev2": #3D3E41,
      "onMainSurfaceElev2Hover": #424346,
      "auxiliarySurface": #1E2024,
      "onAuxiliarySurfaceElev0": #2B2D31,
      "onAuxiliarySurfaceElev0HoverDark": #27292D,
      "onAuxiliarySurfaceElev1": #292B2F,
      "onAuxiliarySurfaceElev1Hover": #313236,
      "onAuxiliarySurfaceElev2": #36373B,
      "onAuxiliarySurfaceElev2Hover": #3B3C40,
      "outline": #938F99
    )
  ),
  "black": (
    "light": (
      "primary": #000000,
      "primaryHover": #D21A88,
      "onPrimaryColor": #FFFFFF,
      "primaryDark": #FFFFFF,
      "primaryLight": #FFFFFF,
      "primaryLightSurface": #444746,
      "txtColor": #1B1B1B,
      "mainSurface": #F9F9F9,
      "onMainSurfaceElev1": #FDFDFD,
      "onMainSurfaceElev1Hover": #F4F4F4,
      "onMainSurfaceElev1HoverDark": #FFFFFF,
      "onMainSurfaceElev2": #FEFEFE,
      "onMainSurfaceElev2Hover": #FBFBFB,
      "auxiliarySurface": #F3F3F3,
      "onAuxiliarySurfaceElev0": #EAEAEA,
      "onAuxiliarySurfaceElev0HoverDark": #EDEDED,
      "onAuxiliarySurfaceElev1": #FBFBFB,
      "onAuxiliarySurfaceElev1Hover": #F6F6F6,
      "onAuxiliarySurfaceElev2": #FEFEFE,
      "onAuxiliarySurfaceElev2Hover": #FAFAFA,
      "outline": #938F99
    ),
    "dark": (
      "primary": #FFFFFF,
      "primaryHover": #FFFFFF,
      "onPrimaryColor": #000000,
      "primaryDark": #000000,
      "primaryLight": #000000,
      "primaryLightSurface": #444746,
      "txtColor": #FFFFFF,
      "mainSurface": #272727,
      "onMainSurfaceElev1": #323232,
      "onMainSurfaceElev1Hover": #3E3E3E,
      "onMainSurfaceElev1HoverDark": #2E2E2E,
      "onMainSurfaceElev2": #3E3E3E,
      "onMainSurfaceElev2Hover": #434343,
      "auxiliarySurface": #202020,
      "onAuxiliarySurfaceElev0": #2D2D2D,
      "onAuxiliarySurfaceElev0HoverDark": #292929,
      "onAuxiliarySurfaceElev1": #2B2B2B,
      "onAuxiliarySurfaceElev1Hover": #323232,
      "onAuxiliarySurfaceElev2": #373737,
      "onAuxiliarySurfaceElev2Hover": #3C3C3C,
      "outline": #938F99
    )
  ),
);

@function if-important($important){
  @return #{if($important, '!important', '')};
}

@mixin themify($property, $value, $important: false) {
  @each $themeName, $theme in $themes {
    html:global(.#{$themeName}) & {
      #{$property}: map.get($theme, "light", $value) if-important($important);
    }
    html:global(.#{$themeName}.dark) & {
      #{$property}: map.get($theme, "dark", $value) if-important($important);
    }
  }
}

@mixin themify-global($property, $value, $important: false) {
  @each $themeName, $theme in $themes {
    html.#{$themeName} & {
      #{$property}: map.get($theme, "light", $value) if-important($important);
    }
    html.#{$themeName}.dark & {
      #{$property}: map.get($theme, "dark", $value) if-important($important);
    }
  }
}