.AvatarGroupContainer {
  display: flex;
  align-items: center;
}

.ImageAvatar {
  display: inline;
  border-radius: 100%;
  border: 2px solid;
  transition: border-color 0.2s;
  @include themify(border-color, "color-background-fill-color-layer-default");
}

.LetterAvatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  line-height: 0;
  border: 2px solid;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  @include themify(color, "primary");
  @include themify(background-color, "color-background-fill-color-card-background-default");
  @include themify(border-color, "color-background-fill-color-card-background-default");
}

.DumpAvatar {
  display: inline-flex;
  border-radius: 100%;
  border: 2px solid;
  transition: background-color 0.2s, border-color 0.2s;
  @include themify(background-color, "color-background-fill-color-card-background-default");
  @include themify(border-color, "color-background-fill-color-card-background-default");
}
