.ImageAvatar {
  display: inline;
}

.LetterAvatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-fill-color-subtle-secondary);
  color: var(--primary);
  line-height: 0;
  transition: background-color 0.2s, color 0.2s;
}
