.AvatarGroupContainer {
  display: flex;
  align-items: center;
}

.ImageAvatar {
  display: inline;
  border-radius: 100%;
  border: 2.5px solid;
  transition: border-color 0.2s;
  border-color: var(--primary);
}

.LetterAvatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  line-height: 0;
  border: 2.5px solid;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  color: var(--primary);
  background-color: var(--auxiliarySurface);
  border-color: var(--primary);
}
