.ImageAvatar {
  display: inline;
}

.LetterAvatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, color 0.2s;
  line-height: 0;
  @include themify(color, "primary");
  @include themify(background-color, "color-fill-color-subtle-secondary");
}
