.Button {
  width: 100px;
  padding: 10px 0;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: var(--color-fill-color-accent-primary);
  color: var(--color-fill-color-text-on-accent-primary);
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.2s;
  &:hover {
    background-color: var(--primaryHover);
  }
  &:disabled {
    background-color: #CCCCCC!important;
    color: #FFFFFF!important;
    cursor: not-allowed;
  }
}
