.Button {
  padding: 15px 0;
  border-radius: 100000000000000px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.2s;
  @include themify(background-color, "primary");
  @include themify(color, "color-fill-color-text-on-accent-primary");
  &:hover {
    @include themify(background-color, "primaryHover");
  }
  &:disabled {
    background-color: #CCCCCC!important;
    color: #FFFFFF!important;
    cursor: not-allowed;
  }
}
