.Button {
  padding: 15px 0;
  border-radius: 100000000000000px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100px;
  transition: background-color 0.3s, color 0.2s;
  background-color: var(--primary);
  color: var(--color-fill-color-text-on-accent-primary);
  &:hover {
    background-color: var(--primaryHover);
  }
  &:disabled {
    background-color: #CCCCCC!important;
    color: #FFFFFF!important;
    cursor: not-allowed;
  }
}
