.NotificationShell {
  width: 100%;
}

.NotificationContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: calc(100% - 32px);
  border: 1px solid;
  border-radius: 8px;
  transition: background-color 0.2s, color 0.2s;
  @include themify(border-color, "color-stroke-color-card-stroke-default");
  @include themify(background-color, "color-background-fill-color-card-background-default");
  @include themify(color, "color-fill-color-text-primary");
  &.clickable {
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
  &.expanded {
    & .NotificationBottomPart > span {
      white-space: normal;
      overflow: hidden;
      text-overflow: initial;
    }
  }
}

.NotificationControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  & > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 600;
    & > *:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.NotificationCloseBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: none;
  background-color: transparent;
  transition: color 0.2s;
  @include themify(color, "color-fill-color-text-primary");
}

.NotificationContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  & > div {
    width: 100%;
    min-width: 0;
  }
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}

.NotificationTopPart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.75rem;
  font-weight: 600;
}

.NotificationBottomPart {
  font-size: 0.625rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  & > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
  