.ProgressBarContainer {
  height: 5px;
  width: 500px;
  border: 1px solid;
  border-radius: 100px;
  max-width: 100%;
  transition: background-color 0.2s;
  @include themify(border-color, "onMainSurfaceElev1Border");
  @include themify(background-color, "onMainSurfaceElev1");
  & > div {
    height: 5px;
    border-radius: 100px;
    transition: width 0.5s linear, background-color 0.2s;
    @include themify(background-color, "primary");
  }
}
