.ProgressBarContainer {
  height: 5px;
  width: 500px;
  border: 1px solid;
  border-radius: 100px;
  max-width: 100%;
  transition: background-color 0.2s;
  @include themify(border-color, "color-stroke-color-card-stroke-default");
  @include themify(background-color, "color-background-fill-color-card-background-default");
  & > div {
    height: 5px;
    border-radius: 100px;
    transition: width 0.5s linear, background-color 0.2s;
    @include themify(background-color, "primary");
  }
}
